version: "3.9"

services:
  # Servicio principal: WordPress
  wordpress:
    image: wordpress:latest   # Uso la última imagen oficial de WordPress
    ports:
      - "${WP_PORT}:80"       # Expongo el puerto configurado en WP_PORT hacia el 80 interno del contenedor
    environment:
      WORDPRESS_DB_HOST: db:3306       # Apunto al servicio 'db' en el puerto 3306
      WORDPRESS_DB_USER: ${DB_USER}    # variable de Usuario de la base de datos
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD}  # variable de Contraseña del usuario de la base de datos
      WORDPRESS_DB_NAME: ${DB_NAME}    # variable de Nombre de la base de datos
    volumes:
      - wp_data:/var/www/html/wp-content
      # Persistencia
    networks:
      - mi_red_wp   # Conecto WordPress y la base de datos en la misma red bridge
    depends_on:
      db:
        condition: service_healthy   # Espero a que la base de datos esté sana antes de levantar WordPress
    deploy:
      resources:
        limits:
          cpus: '1'       # Limito el uso de CPU a 1 núcleo
          memory: 512M    # Limito la memoria a 512 MB
    healthcheck:
      test: curl -f http://localhost || exit 1   # Compruebo que WordPress responde en localhost
      interval: 30s    # Intervalo entre chequeos
      timeout: 10s     # Tiempo máximo de espera
      retries: 3       # Número de intentos antes de marcarlo como unhealthy

  # Servicio de base de datos: MariaDB
  db:
    image: mariadb:latest   # Uso la última imagen oficial de MariaDB
    environment:
      MYSQL_DATABASE: ${DB_NAME}        # variable de Nombre de la base de datos
      MYSQL_USER: ${DB_USER}            # variable de Usuario de la base de datos
      MYSQL_PASSWORD: ${DB_PASSWORD}    # variable de Contraseña del usuario
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}  # variable de Contraseña del root
    volumes:
      - db_data:/var/lib/mysql
      # Persistencia de datos
    networks:
      - mi_red_wp   # Conecto la base de datos en la misma red que WordPress
    deploy:
      resources:
        limits:
          cpus: '0.5'     # Limito el uso de CPU a medio núcleo
          memory: 512M    # Limito la memoria a 512 MB
    healthcheck:
      # Fix para MariaDB Latest: uso mariadb-admin, ya que mysql-admin está deprecado, y la variable interna ($$) para validar la conexión
      test: mariadb-admin ping -h 127.0.0.1 -u root --password=$$MYSQL_ROOT_PASSWORD
      interval: 10s       # Intervalo entre chequeos
      timeout: 5s         # Tiempo máximo de espera
      retries: 5          # Número de intentos antes de marcarlo como unhealthy
      start_period: 30s   # Tiempo de gracia inicial antes de empezar los chequeos

# Volúmenes persistentes para datos de WordPress y MariaDB
volumes:
  wp_data:
  db_data:

# Red personalizada para aislar WordPress y MariaDB
networks:
  mi_red_wp:
    driver: bridge