version: '3.8'    #Versión estable

services:
  # --- SERVICIO 1 ---
  app:
    image: iesgn/guestbook  #Imagen a descargar
    container_name: guestbook_app_v2        #Nombre del container
    ports:
      - "${PORT_APP}:5000"    # USA EL PUERTO 9090 DEL .ENV
    environment:
      - REDIS_SERVER=db      #Le decimos a la app dónde está la base de datos
    networks:
      - mi_red_privada        # Usaremos una red explícita
    deploy:                   # Configuración de límites
      resources:
        limits:
          cpus: '${LIMITE_CPU}'
          memory: ${LIMITE_MEM}

  # --- SERVICIO 2 Redis ---
  db:
    image: redis        #Imagen de redis
    container_name: ${NOMBRE_REDIS} # USA EL NOMBRE DEL ARCHIVO .ENV
    command: redis-server --appendonly yes    #Para activar guardado en disco
    volumes:
      - redis_data:/data      #Persistencia
    networks:
      - mi_red_privada

#Definimos el volumen
volumes:
  redis_data:

networks:
  mi_red_privada:
    driver: bridge
    name: red_interna_guestbook
